body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f2f5f9;
  margin: 0;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}


.container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  width: 90%;
}


.card {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 35px 35px;
  width: 380px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}


h1 {
  text-align: center;
  color: #2f3542;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  color: #fff;
  background: #e923be;
  padding: 10px 0;
  text-align: center;
  border-radius: 6px;
  margin: 0 0 20px 0;
}


label {
  font-size: 20px;
  color: #333;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  box-sizing: border-box;
}

input:focus, select:focus {
  border-color: #e22c9c;
  outline: none;
}

button {
  background-color: #8e2597;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #87118b;
}

p {
  text-align: center;
  color: #222;
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
}


.dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
