.cat,.cat1,.cat3{
  display: flex;
  margin-left:175px;
  margin-top: 30px;
  text-align: center;
  
}
.cat2{
  /* display: flex; */
  margin-left:80px;
  margin-top: 30px;
  text-align: center;
}

.c1 p {
  margin: 4px 0;
  font-size: 14px;
  color: black;
}

button{
  padding:6px;
}
select{
  padding:8px;
}

.c1 h3 {
  margin: 8px 0 5px;
  font-size: 18px;
  color: black;
}
.c1 {
    width: 220px;
    border-radius: 8px;
    overflow: hidden;
    background: #f9f9f9;
    /* background-color: aquamarine; */
    padding: 25px;
    margin-right:30px;
    transition: transform 0.5s;
    text-align: center;
    box-shadow: #f9f9f9;
}

.c1:hover{
    transform: scale(1.15);
}

.c1 img {
  width: 100%;
  height: 130px;
  object-fit: contain;
  border-radius: 5px;
}